<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/statics/css/table.css"> 
</head>
<body>

<table id="customers">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Country</th>
  </tr>
  %for item in data:
    <tr>
      <td>{{ item['firstname'] }}</td>
      <td>{{ item['lastname'] }}</td>
      <td>{{ item['country'] }}</td>
      <td>{{ item['username'] }}</td>
      <td>{{ item['mobile_number'] }}</td>
      <td>{{ item['zipcode'] }}</td>

    </tr>
  %end
</table>

</body>
</html>

